<footer>
  <div class="row footer-top">
    <div class="col-sm-4">
      <h2>About us</h2>
      <div>
        Autem humanitatis omnium officiis Roma bacarum plerique domicilium virtutum suavitate Roma autem quod ingenuos ingenuos retentabant omnium autem advenas humanitatis cum dubitatur plerique nobilium bacarum non non multiformibus autem Homerici.
      </div>
    </div>
    <div class="col-sm-4">
      <h2>Vivienne’s Omitted Line</h2>
      <img class="img-responsive" src="<%= asset_path 'album-03.jpg' %>" alt="Aelus Vivienne’s Omitted Line album">
    </div>
    <div class="col-sm-4">
      <h2>Recent posts</h2>
      <ul class="posts-list list-unstyled">
        <li>
          <a href="#" class="post-title">Welcome to our redesigned website</a>
          <div class="post-date">April 1, 2015</div>
        </li>
        <li>
          <a href="#" class="post-title">New tour dates posted</a>
          <div class="post-date">December 16, 2014</div>
        </li>
        <li>
          <a href="#" class="post-title">History of popular music</a>
          <div class="post-date">December 15, 2014</div>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="social-links">
      <ul class="list-unstyled">
        <li><a href="http://twitter.com" target="_blank"><span class="sr-only">Twitter</span><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li><a href="http://facebook.com" target="_blank"><span class="sr-only">Facebook</span><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
        <li><a href="http://instagram.com" target="_blank"><span class="sr-only">Instagram</span><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        <li><a href="http://youtube.com" target="_blank"><span class="sr-only">Youtube</span><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
        <li><a href="http://vimeo.com" target="_blank"><span class="sr-only">Vimeo</span><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
        <li><a href="http://amazon.com" target="_blank"><span class="sr-only">Amazon</span><i class="fa fa-amazon" aria-hidden="true"></i></a></li>
        <li><a href="http://apple.com" target="_blank"><span class="sr-only">Apple</span><i class="fa fa-apple" aria-hidden="true"></i></a></li>
        <li><a href="http://soundcloud.com" target="_blank"><span class="sr-only">Soundcloud</span><i class="fa fa-soundcloud" aria-hidden="true"></i></a></li>
        <li><a href="http://spotify.com" target="_blank"><span class="sr-only">Spotify</span><i class="fa fa-spotify" aria-hidden="true"></i></a></li>
      </ul>
    </div>
    <p>Music band name</p>
  </div>
</footer>