<footer>
  <div class="social-links">
    <ul class="list-unstyled">
      <li><a href="http://twitter.com" target="_blank"><span class="sr-only">Twitter</span><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
      <li><a href="http://facebook.com" target="_blank"><span class="sr-only">Facebook</span><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
      <li><a href="http://instagram.com" target="_blank"><span class="sr-only">Instagram</span><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
      <li><a href="http://youtube.com" target="_blank"><span class="sr-only">Youtube</span><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
      <li><a href="http://vimeo.com" target="_blank"><span class="sr-only">Vimeo</span><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
      <li><a href="http://amazon.com" target="_blank"><span class="sr-only">Amazon</span><i class="fa fa-amazon" aria-hidden="true"></i></a></li>
      <li><a href="http://apple.com" target="_blank"><span class="sr-only">Apple</span><i class="fa fa-apple" aria-hidden="true"></i></a></li>
      <li><a href="http://soundcloud.com" target="_blank"><span class="sr-only">Soundcloud</span><i class="fa fa-soundcloud" aria-hidden="true"></i></a></li>
      <li><a href="http://spotify.com" target="_blank"><span class="sr-only">Spotify</span><i class="fa fa-spotify" aria-hidden="true"></i></a></li>
    </ul>
  </div>
  <p>Music band name</p>
</footer>